Repository ttrang87/toast-tutor: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

autoflake:
  name: autoflake
  entry: autoflake
  language: system
  args:
  - --in-place
  - --remove-all-unused-imports
  - --remove-unused-variables

autopep8:
  name: autopep8
  entry: autopep8
  language: system
  args:
  - --in-place
  - --aggressive
  - --select=E101,E501,W291
  - --max-line-length=100

black:
  name: black
  entry: black
  language: system
  args:
  - --line-length=100

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --max-line-length=100

eslint-fix:
  name: eslint-fix
  entry: npx eslint
  language: system
  args:
  - --fix

eslint-check:
  name: eslint-check
  entry: npx eslint
  language: system
  args: []

react-deps-check:
  name: react-hooks-deps
  entry: npx eslint
  language: system
  args:
  - --rule
  - 'react-hooks/exhaustive-deps: error'

update frontend hook
  .pre-commit-config.yaml
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
Due: eslint-fix, eslint-check, react-deps-check

complete ci workflow
  .github/workflows/ci-cd.yml
  backend/toast_tutor/tests.py
  backend/toast_tutor/tests_Score.py
Due: autoflake, autopep8, black, flake8

add init files to empty test folders
  backend/toast_tutor/tests/__init__.py
  backend/toast_tutor/tests/apis/__init__.py
  backend/toast_tutor/tests/units/__init__.py
Due: autoflake, autopep8, black, flake8

add init files to empty test folders
  backend/.gitignore
Due: none

add init files to empty test folders
  backend/.gitignore
  backend/backend/settings.py
Due: autoflake, autopep8, black, flake8

Sorting mechanism
  backend/backend/settings.py
  backend/toast_tutor/controller/tutorlist.py
  backend/toast_tutor/models.py
  backend/toast_tutor/urls.py
  frontend/src/App.jsx
  frontend/src/assets/icon.jsx
  frontend/src/components/landing/Header.jsx
  frontend/src/constant/APIRoutes.js
  frontend/src/pages/Listing/PriceRangeInputs.jsx
  frontend/src/pages/Listing/TutorListFilter.jsx
  frontend/src/pages/Listing/TutorListHeader.jsx
  frontend/src/pages/Listing/TutorListPagination.jsx
  frontend/src/pages/Listing/TutorListTable.jsx
  frontend/src/pages/TutorList.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

Fixed a bug
  frontend/src/App.jsx
Due: eslint-fix, eslint-check, react-deps-check

Hello
  frontend/src/pages/payment/Confirm.jsx
  frontend/src/pages/payment/payment.jsx
  frontend/src/pages/payment/success.jsx
Due: eslint-fix, eslint-check, react-deps-check

Fix: frontend lint issues
  backend/backend/settings.py
  backend/toast_tutor/controller/tutorlist.py
  backend/toast_tutor/models.py
  backend/toast_tutor/urls.py
  frontend/eslint.config.js
  frontend/src/assets/icon.jsx
  frontend/src/pages/Listing/PriceRangeInputs.jsx
  frontend/src/pages/Listing/TutorListFilter.jsx
  frontend/src/pages/Listing/TutorListHeader.jsx
  frontend/src/pages/Listing/TutorListPagination.jsx
  frontend/src/pages/Listing/TutorListTable.jsx
  frontend/src/pages/TutorList.jsx
  frontend/src/pages/auth/LogIn.jsx
  frontend/src/pages/payment/SuccessPayment.css
  frontend/src/pages/payment/payment.jsx
  frontend/src/pages/payment/success.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

DuyPhuc Booking
  backend/toast_tutor/controller/meeting.py
  backend/toast_tutor/models.py
  backend/toast_tutor/serializers.py
  backend/toast_tutor/urls.py
  frontend/src/App.jsx
  frontend/src/assets/icon.jsx
  frontend/src/components/booking_steps/MeetingUtils.jsx
  frontend/src/constant/APIRoutes.js
  frontend/src/pages/meeting/BookingPage.jsx
  frontend/src/pages/meeting/CreateMeetingPage.jsx
  frontend/src/pages/meeting/MeetingsListPage.jsx
  frontend/src/pages/meeting/TutorMeetingPage.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

Meeting Code
  backend/toast_tutor/controller/meeting.py
  backend/toast_tutor/models.py
  backend/toast_tutor/serializers.py
  backend/toast_tutor/urls.py
  frontend/src/App.jsx
  frontend/src/assets/icon.jsx
  frontend/src/components/booking_steps/MeetingUtils.jsx
  frontend/src/constant/APIRoutes.js
  frontend/src/pages/meeting/BookingPage.jsx
  frontend/src/pages/meeting/CreateMeetingPage.jsx
  frontend/src/pages/meeting/MeetingsListPage.jsx
  frontend/src/pages/meeting/TutorMeetingPage.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Updated and cleaned the backend
  backend/toast_tutor/controller/meeting.py
  backend/toast_tutor/migrations/0002_meeting.py
  backend/toast_tutor/models.py
  backend/toast_tutor/serializers.py
  backend/toast_tutor/urls.py
Due: autoflake, autopep8, black, flake8

Payment + My Meetings
  backend/backend/settings.py
  backend/requirements.txt
  backend/toast_tutor/admin.py
  backend/toast_tutor/controller/meeting.py
  backend/toast_tutor/controller/payment.py
  backend/toast_tutor/migrations/0001_initial.py
  backend/toast_tutor/models.py
  backend/toast_tutor/serializers.py
  backend/toast_tutor/urls.py
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/assets/icon.jsx
  frontend/src/components/landing/Header.jsx
  frontend/src/constant/APIRoutes.js
  frontend/src/pages/Schedule/dashboard.jsx
  frontend/src/pages/auth/LogIn.jsx
  frontend/src/pages/payment/Confirm.jsx
  frontend/src/pages/payment/cancel.jsx
  frontend/src/pages/payment/payment.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

split components
  frontend/src/components/tutor_profile/edit/ReviewPosting.jsx
  frontend/src/components/tutor_profile/edit/StarRating.jsx
  frontend/src/components/tutor_profile/watch/Review.jsx
  frontend/src/components/tutor_profile/watch/StarRendering.jsx
Due: eslint-fix, eslint-check, react-deps-check

Finialize code DuyPhuc
  backend/toast_tutor/controller/meeting.py
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/assets/icon.jsx
  frontend/src/components/booking_steps/MeetingUtils.jsx
  frontend/src/components/calendar/CalendarPicker.jsx
  frontend/src/components/calendar/CalendarStyle.jsx
  frontend/src/components/calendar/GoogleCalendarConnect.jsx
  frontend/src/components/calendar/GoogleCalendarHeader.jsx
  frontend/src/components/calendar/TimeRangePicker.jsx
  frontend/src/components/layout/BackButton.jsx
  frontend/src/components/layout/PageContainer.jsx
  frontend/src/components/layout/PageHeader.jsx
  frontend/src/components/meeting/CalendarFooter.jsx
  frontend/src/components/meeting/CountdownTimer.jsx
  frontend/src/components/meeting/Google.jsx
  frontend/src/components/meeting/MeetingActions.jsx
  frontend/src/components/meeting/MeetingCard.jsx
  frontend/src/components/meeting/MeetingForm.jsx
  frontend/src/components/meeting/MeetingList.jsx
  frontend/src/components/meeting/MeetingStatus.jsx
  frontend/src/components/meeting/MeetingUtils.jsx
  frontend/src/components/tutor_profile/edit/BasicInforEdit.jsx
  frontend/src/components/ui/Button.jsx
  frontend/src/components/ui/LoadingSpinner.jsx
  frontend/src/constant/APIRoutes.js
  frontend/src/main.jsx
  frontend/src/pages/auth/LogIn.jsx
  frontend/src/pages/features/booking_tutor/MatchedTutors.jsx
  frontend/src/pages/meeting/BookingMeetingPage.jsx
  frontend/src/pages/meeting/BookingPage.jsx
  frontend/src/pages/meeting/CreateMeetingPage.jsx
  frontend/src/pages/meeting/EditMeetingPage.jsx
  frontend/src/pages/meeting/MeetingsListPage.jsx
  frontend/src/pages/meeting/TutorMeetingPage.jsx
  frontend/vite.config.js
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

Passed pre commit
  backend/toast_tutor/controller/meeting.py
  backend/toast_tutor/models.py
  backend/toast_tutor/serializers.py
  backend/toast_tutor/urls.py
Due: autoflake, autopep8, black, flake8

Pass CI/CD
  backend/toast_tutor/migrations/0003_alter_meeting_options.py
  backend/toast_tutor/models.py
Due: autoflake, autopep8, black, flake8

Finalize
  frontend/src/pages/TutorProfile.jsx
  frontend/src/pages/auth/LogIn.jsx
  frontend/src/pages/auth/SignUp.jsx
  frontend/src/pages/features/booking_tutor/CombineBookingSteps.jsx
Due: eslint-fix, eslint-check, react-deps-check

solved unmerged conflict
  frontend/src/components/landing/Header.jsx
Due: eslint-fix, eslint-check, react-deps-check

fixed missing button
  frontend/src/components/landing/Header.jsx
Due: eslint-fix, eslint-check, react-deps-check

payment + my schedule features (passed pre-commit checks)
  backend/toast_tutor/admin.py
  backend/toast_tutor/controller/meeting.py
  backend/toast_tutor/controller/payment.py
  backend/toast_tutor/models.py
  backend/toast_tutor/serializers.py
  backend/toast_tutor/urls.py
  frontend/src/assets/icon.jsx
  frontend/src/pages/Schedule/dashboard.jsx
  frontend/src/pages/payment/Confirm.jsx
  frontend/src/pages/payment/payment.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

fixed requirement.txt
  backend/requirements.txt
Due: none

supabase issues
  backend/requirements.txt
Due: none

changed supabase requirement
  backend/requirements.txt
Due: none

supabase version issues
  backend/requirements.txt
Due: none

fixed reuqirement.txt
  backend/requirements.txt
Due: none

.
  backend/requirements.txt
Due: none

..
  backend/toast_tutor/serializers.py
Due: autoflake, autopep8, black, flake8

...
  backend/toast_tutor/controller/payment.py
Due: autoflake, autopep8, black, flake8

Path conditions:
  autoflake: any of: ^backend/ and \.py$ and not ((migrations/|auth.py))
  autopep8: any of: ^backend/ and \.py$ and not ((migrations/|auth.py))
  black: any of: ^backend/ and \.py$ and not ((migrations/|auth.py))
  flake8: any of: ^backend/ and \.py$ and not ((migrations/|auth.py))
  eslint-fix: any of: ^frontend/.*\.(js|jsx)$, but not: node_modules/
  eslint-check: any of: ^frontend/.*\.(js|jsx)$, but not: node_modules/
  react-deps-check: any of: ^frontend/.*\.(js|jsx)$, but not: node_modules/
