Repository ttrang87/toast-tutor: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

autoflake:
  name: autoflake
  entry: autoflake
  language: system
  args:
  - --in-place
  - --remove-all-unused-imports
  - --remove-unused-variables

autopep8:
  name: autopep8
  entry: autopep8
  language: system
  args:
  - --in-place
  - --aggressive
  - --select=E101,E501,W291
  - --max-line-length=100

black:
  name: black
  entry: black
  language: system
  args:
  - --line-length=100

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --max-line-length=100

eslint-fix:
  name: eslint-fix
  entry: npx eslint
  language: system
  args:
  - --fix

eslint-check:
  name: eslint-check
  entry: npx eslint
  language: system
  args: []

react-deps-check:
  name: react-hooks-deps
  entry: npx eslint
  language: system
  args:
  - --rule
  - 'react-hooks/exhaustive-deps: error'

....
  backend/requirements.txt
Due: none

Fixed frontend and backend
  backend/backend/settings.py
  backend/toast_tutor/controller/task.py
  frontend/src/App.jsx
  frontend/src/pages/payment/Confirm.jsx
  frontend/src/pages/payment/cancel.jsx
  frontend/src/pages/payment/success.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

security issues still unresolved
  frontend/.gitignore
  frontend/src/App.jsx
Due: eslint-fix, eslint-check, react-deps-check

.
  frontend/src/App.jsx
Due: eslint-fix, eslint-check, react-deps-check

..
  frontend/src/App.jsx
Due: eslint-fix, eslint-check, react-deps-check

Remove .env file from tracking
  frontend/.env
Due: none

removed env file
  frontend/src/pages/payment/payment.jsx
Due: eslint-fix, eslint-check, react-deps-check

pre-commit testing again
  frontend/src/pages/Schedule/dashboard.jsx
  frontend/src/pages/Schedule/dashboard/CalendarView.jsx
  frontend/src/pages/meeting/BookingMeetingPage.jsx
  frontend/src/pages/meeting/TutorMeetingPage.jsx
  frontend/src/pages/payment/Confirm.jsx
  frontend/src/pages/payment/payment.jsx
Due: eslint-fix, eslint-check, react-deps-check

macbook is not case-sensitive, hence caused mixup in naming
  frontend/src/App.jsx
Due: eslint-fix, eslint-check, react-deps-check

Stripe issue resolved
  frontend/src/pages/payment/Confirm.jsx
  frontend/src/pages/payment/confirmation/OrderDetails.jsx
  frontend/src/pages/payment/confirmation/PurchaseSummary.jsx
  frontend/src/pages/payment/info/CartSummary.jsx
  frontend/src/pages/payment/payment.jsx
Due: eslint-fix, eslint-check, react-deps-check

update again
  backend/toast_tutor/migrations/0022_merge_20250609_1442.py
Due: none

update again
  backend/.gitignore
Due: none

check
  backend/.gitignore
Due: none

update migrations
  backend/.gitignore
  backend/toast_tutor/migrations/0003_remove_meeting_participants.py
  backend/toast_tutor/migrations/0004_remove_meeting_status_meeting_student.py
  backend/toast_tutor/migrations/0007_remove_meeting_description_remove_meeting_title.py
  backend/toast_tutor/migrations/0023_alter_meeting_status_alter_meeting_student.py
  backend/toast_tutor/models.py
Due: autoflake, autopep8, black, flake8

check
  backend/.gitignore
  backend/backend/settings.py
  frontend/package-lock.json
Due: autoflake, autopep8, black, flake8

frontend linting
  frontend/src/components/tutor_profile/edit/ReviewPosting.jsx
  frontend/src/constant/APIRoutes.js
  frontend/src/pages/auth/LogIn.jsx
  frontend/src/pages/meeting/TutorMeetingPage.jsx
Due: eslint-fix, eslint-check, react-deps-check

fixing unknown endpoint
  backend/backend/__init__.py
  backend/backend/celery.py
  backend/backend/settings.py
  backend/toast_tutor/controller/meeting.py
  backend/toast_tutor/controller/profile.py
  backend/toast_tutor/models.py
  backend/toast_tutor/serializers.py
  backend/toast_tutor/tasks.py
  backend/toast_tutor/urls.py
  frontend/src/App.jsx
  frontend/src/components/booking_steps/BookingMeeting.jsx
  frontend/src/components/booking_steps/CreateMeeting.jsx
  frontend/src/components/booking_steps/TimeService.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

frontend linting again
  frontend/package-lock.json
Due: none

hide settings
  backend/.gitignore
Due: none

unhide settings
  backend/.gitignore
Due: none

Updated
  frontend/package-lock.json
  frontend/package.json
Due: none

Updated Docker
  .gitignore
  backend/Dockerfile
  backend/backend/__init__.py
  backend/backend/celery.py
  backend/backend/celery_app.py
  backend/backend/settings.py
  backend/celerybeat-schedule
  backend/requirements.txt
  deploy.sh
  docker-compose.prod.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  nginx/nginx.prod.conf
Due: autoflake, autopep8, black, flake8

Revert "Updated Docker"
  .gitignore
  backend/Dockerfile
  backend/backend/__init__.py
  backend/backend/celery.py
  backend/backend/settings.py
  backend/celerybeat-schedule
  backend/requirements.txt
  deploy.sh
  docker-compose.prod.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  nginx/nginx.prod.conf
Due: autoflake, autopep8, black, flake8

Revert
  .env
  .env.bak
Due: none

align tutor list, fix celery bug
  backend/toast_tutor/controller/meeting.py
  backend/toast_tutor/tasks.py
  backend/toast_tutor/urls.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/tutor_profile/edit/ReviewPosting.jsx
  frontend/src/pages/Listing/TutorListTable.jsx
  frontend/src/pages/meeting/EditMeetingPage.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

update status model
  backend/backend/asgi.py
  backend/backend/settings.py
  backend/toast_tutor/consumers.py
  backend/toast_tutor/controller/profile.py
  backend/toast_tutor/controller/tutorlist.py
  backend/toast_tutor/migrations/0024_user_status.py
  backend/toast_tutor/migrations/0025_remove_user_status_tutorprofile_status.py
  backend/toast_tutor/migrations/0026_remove_tutorprofile_status_user_status.py
  backend/toast_tutor/migrations/0027_remove_user_status_tutorprofile_status.py
  backend/toast_tutor/migrations/0028_remove_tutorprofile_status_user_status.py
  backend/toast_tutor/models.py
  backend/toast_tutor/routing.py
  backend/toast_tutor/serializers.py
  frontend/src/components/tutor_profile/ReviewList.jsx
  frontend/src/pages/Listing/TutorListTable.jsx
  frontend/src/pages/TutorList.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

Remove tracked .env and .env.bak, now ignored
  .env
  .env.bak
Due: none

Remove tracked .env and .env.bak, now ignored
  .gitignore
Due: none

Updated
  backend/requirements.txt
  backend/toast_tutor/migrations/0024_user_status.py
  backend/toast_tutor/models.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icon.jsx
  frontend/src/pages/auth/LogIn.jsx
  frontend/src/pages/auth/SignUp.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

Fixed all problem
  backend/backend/settings.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/landing/Header.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

Updated
  frontend/src/components/landing/FeaturesSetion.jsx
  frontend/src/components/tutor_profile/edit/BasicInforEdit.jsx
  frontend/src/components/tutor_profile/watch/BasicInfor.jsx
Due: eslint-fix, eslint-check, react-deps-check

Fix header UI, add calendar icon in profile watch mode, fix signup icon bug with inline code
  .env
  .env.bak
  .gitignore
  frontend/src/assets/icon.jsx
  frontend/src/components/landing/Header.jsx
  frontend/src/components/tutor_profile/edit/BasicInforEdit.jsx
  frontend/src/components/tutor_profile/watch/BasicInfor.jsx
  frontend/src/pages/auth/LogIn.jsx
  frontend/src/pages/auth/SignUp.jsx
  package-lock.json
  package.json
Due: eslint-fix, eslint-check, react-deps-check

Remove unused import at frontend
  frontend/src/assets/icon.jsx
  frontend/src/components/tutor_profile/edit/BasicInforEdit.jsx
  frontend/src/components/tutor_profile/watch/BasicInfor.jsx
  frontend/src/pages/auth/LogIn.jsx
  frontend/src/pages/auth/SignUp.jsx
Due: eslint-fix, eslint-check, react-deps-check

Models for message feature + cache strategy
  backend/toast_tutor/controller/matching.py
  backend/toast_tutor/controller/message.py
  backend/toast_tutor/migrations/0024_chatbox_message_chatbox_unique_user1_user2_pair.py
  backend/toast_tutor/models.py
  backend/toast_tutor/serializers.py
  backend/toast_tutor/urls.py
Due: autoflake, autopep8, black, flake8

Fix header height + fetch message from backedn
  backend/toast_tutor/controller/message.py
  backend/toast_tutor/urls.py
  frontend/src/App.jsx
  frontend/src/components/landing/Header.jsx
  frontend/src/components/messenger/ChatInterface.jsx
  frontend/src/components/messenger/ContactList.jsx
  frontend/src/constant/APIRoutes.js
  frontend/src/pages/features/messenger/Messenger.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

websocket
  .vscode/launch.json
  .vscode/settings.json
  backend/.vscode/launch.json
  backend/backend/asgi.py
  backend/backend/settings.py
  backend/requirements.txt
  backend/toast_tutor/consumers.py
  backend/toast_tutor/routing.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/landing/Header.jsx
  frontend/src/components/tutor_profile/watch/BasicInfor.jsx
  frontend/src/hooks/useWebSocket.js
  frontend/src/pages/TutorList.jsx
  frontend/src/pages/TutorProfile.jsx
  frontend/src/pages/auth/LogIn.jsx
  frontend/src/services/authService.js
  frontend/src/services/websocketService.js
  run_asgi_server.bat
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

Real time chat interface with Supabase + 3 layer cache (backend + frontend)
  backend/toast_tutor/controller/message.py
  backend/toast_tutor/migrations/0025_alter_message_options.py
  backend/toast_tutor/migrations/0026_alter_message_options.py
  backend/toast_tutor/migrations/0027_alter_message_options.py
  backend/toast_tutor/migrations/0028_alter_message_options.py
  backend/toast_tutor/models.py
  backend/toast_tutor/serializers.py
  backend/toast_tutor/urls.py
  frontend/src/App.jsx
  frontend/src/components/messenger/ChatInterface.jsx
  frontend/src/components/messenger/ContactList.jsx
  frontend/src/constant/APIRoutes.js
  frontend/src/main.jsx
  frontend/src/pages/features/messenger/Messenger.jsx
  frontend/src/utils/indexedDB.js
  frontend/src/utils/supabaseClient.js
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

UI for message button when viewing tutors'profiles
  frontend/src/components/tutor_profile/watch/BasicInfor.jsx
Due: eslint-fix, eslint-check, react-deps-check

Path conditions:
  autoflake: any of: ^backend/ and \.py$ and not ((migrations/|auth.py))
  autopep8: any of: ^backend/ and \.py$ and not ((migrations/|auth.py))
  black: any of: ^backend/ and \.py$ and not ((migrations/|auth.py))
  flake8: any of: ^backend/ and \.py$ and not ((migrations/|auth.py))
  eslint-fix: any of: ^frontend/.*\.(js|jsx)$, but not: node_modules/
  eslint-check: any of: ^frontend/.*\.(js|jsx)$, but not: node_modules/
  react-deps-check: any of: ^frontend/.*\.(js|jsx)$, but not: node_modules/
