Repository ttrang87/toast-tutor: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: autoflake
        name: autoflake
        entry: autoflake
        language: system
        args: ["--in-place", "--remove-all-unused-imports", "--remove-unused-variables"]
        exclude: "(migrations/|auth.py)"
        files: ^backend/
        types: [python]

    -   id: autopep8
        name: autopep8
        entry: autopep8
        language: system
        args: ["--in-place", "--aggressive", "--select=E101,E501,W291", "--max-line-length=100"]
        exclude: "(migrations/|auth.py)"
        files: ^backend/
        types: [python]

    -   id: black
        name: black
        entry: black
        language: system
        args: ["--line-length=100"]
        exclude: "(migrations/|auth.py)"
        files: ^backend/
        types: [python]

    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        args: ["--max-line-length=100"]
        exclude: "(migrations/|auth.py)"
        files: ^backend/
        types: [python]

    # Frontend hooks
    -   id: eslint-fix
        name: eslint-fix
        entry: npx eslint
        language: system
        args: ["--fix"]
        files: ^frontend/.*\.(js|jsx)$
        exclude: node_modules/
        types: [file]
    
    -   id: eslint-check
        name: eslint-check
        entry: npx eslint
        language: system
        args: []
        files: ^frontend/.*\.(js|jsx)$
        exclude: node_modules/
        types: [file]
        
    -   id: react-deps-check
        name: react-hooks-deps
        entry: npx eslint
        language: system
        args: ["--rule", "react-hooks/exhaustive-deps: error"]
        files: ^frontend/.*\.(js|jsx)$
        exclude: node_modules/
        types: [file]

UI to send first message
  frontend/src/components/messenger/FirstMessageModal.jsx
  frontend/src/components/tutor_profile/watch/BasicInfor.jsx
Due: eslint-fix, eslint-check, react-deps-check

Backend function to check exist box between 2 users and start a new one
  backend/toast_tutor/controller/message.py
  backend/toast_tutor/urls.py
Due: autoflake, autopep8, black, flake8

Updated Docker
  backend/Dockerfile
  backend/backend/settings.py
  backend/requirements.txt
  deploy.sh
  docker-compose.prod.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package-lock.json
  nginx/nginx.prod.conf
  package.json
Due: autoflake, autopep8, black, flake8

Update SOS
  backend/toast_tutor/consumers.py
  frontend/src/App.jsx
  frontend/src/pages/Listing/TutorListTable.jsx
  frontend/src/pages/TutorList.jsx
  frontend/src/pages/features/booking_tutor/CombineBookingSteps.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

Updated
  backend/backend/settings.py
  frontend/src/components/booking_steps/ExamPreferences.jsx
  frontend/src/pages/features/booking_tutor/CombineBookingSteps.jsx
  frontend/src/pages/features/booking_tutor/WaitingMatched.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

Update SOS matching
  .gitignore
  backend/backend/settings.py
  backend/toast_tutor/controller/matching.py
  backend/toast_tutor/migrations/0029_remove_user_status.py
  backend/toast_tutor/migrations/0030_user_status.py
  backend/toast_tutor/models.py
  backend/toast_tutor/serializers.py
  frontend/src/pages/features/booking_tutor/CombineBookingSteps.jsx
  package-lock.json
  package.json
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

Track database status
  backend/toast_tutor/controller/profile.py
  backend/toast_tutor/controller/tutorlist.py
  backend/toast_tutor/controller/userauth.py
  backend/toast_tutor/migrations/0031_remove_user_status.py
  backend/toast_tutor/migrations/0032_alter_user_is_active.py
  backend/toast_tutor/models.py
  backend/toast_tutor/urls.py
  frontend/src/App.jsx
  frontend/src/components/tutor_profile/edit/ReviewPosting.jsx
  frontend/src/constant/APIRoutes.js
  frontend/src/pages/TutorList.jsx
  frontend/src/services/authService.js
  frontend/src/services/userService.js
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

Split matching process
  backend/toast_tutor/controller/matching.py
  backend/toast_tutor/urls.py
  frontend/src/constant/APIRoutes.js
  frontend/src/pages/features/booking_tutor/ClassScheduleBooking.jsx
  frontend/src/pages/features/booking_tutor/CombineBookingSteps.jsx
  frontend/src/pages/features/booking_tutor/MatchedTutors.jsx
  frontend/src/pages/features/booking_tutor/SOSBooking.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

Add sticker picker interface (searching only now)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/messenger/ChatInterface.jsx
  frontend/src/components/messenger/StickerPicker.jsx
Due: eslint-fix, eslint-check, react-deps-check

Add heartbeat
  backend/backend/asgi.py
  backend/toast_tutor/controller/matching.py
  backend/toast_tutor/routing.py
  frontend/src/App.jsx
  frontend/src/pages/TutorList.jsx
  frontend/src/pages/features/booking_tutor/MatchedTutors.jsx
  frontend/src/pages/features/booking_tutor/SOSBooking.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

Redesign comment
  backend/toast_tutor/controller/profile.py
  backend/toast_tutor/controller/userauth.py
  frontend/src/components/tutor_profile/edit/ReviewPosting.jsx
Due: autoflake, autopep8, black, flake8, eslint-fix, eslint-check, react-deps-check

Enhance status tracking
  frontend/hooks/usePresence.js
  frontend/src/App.jsx
  frontend/src/pages/TutorList.jsx
Due: eslint-fix, eslint-check, react-deps-check

Delete unused files
  frontend/src/App.jsx
  frontend/src/hooks/usePresence.js
  frontend/src/services/userService.js
Due: eslint-fix, eslint-check, react-deps-check

Small refractor
  frontend/src/components/tutor_profile/edit/ReviewPosting.jsx
  frontend/src/hooks/usePresence.js
Due: eslint-fix, eslint-check, react-deps-check
